.remove {
  display: inline-block;
  height: 16px;
  vertical-align: middle;

  button {
    padding: 0;
    margin: 0;
    height: 16px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    svg {
      height: 16px;
      color: #3a3a3a;
    }

    &:hover {
      svg {
        color: #767676;
      }
    }
  }
}
